.family-div {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.family-div div {
  background-color: rgb(164, 178, 255);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
