.person-div {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.person-div div {
  width: 300px;
  text-align: center;
  padding: 10px;
  background-color: rgb(224, 222, 222);
  margin: 10px;
  border-radius: 10px;
}

.know-more {
  padding: 10px;
  background-color: rgb(133, 170, 250);
  border-radius: 5px;
  border-color: white;
}

a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}
